---
name: Install package from PyPI and run unit tests on Ubuntu 20.04
on:
  workflow_dispatch:

jobs:
  run:
    name: Install from PyPI and run unit tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install python3-setuptools \
            systemd dbus python3 python3-pip python3-jinja2
      - name: Install package
        run: |
          sudo pip3 install sdbus>=0.8rc2
      - name: List package
        run: |
          pip3 list | grep sdbus
      - name: Run unit tests
        run: |
          python3 -m unittest
